*{
  margin: 0px;
  font-family: monospace;
}

#app{
  height: 100dvh;
  width: 100%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  color: white;
  font-size: 90px;
}
